<a class="navbar-brand" href="/">Mongo Scraper</a>

<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Saved Articles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <button class="scraped-article">Scrape New Article!</button>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <button class="new-article">Clear Articles!</button>
            </a>
        </li>
    </ul>
</div>
</nav>